{% extends 'base.html' %}

{% block content %}
  <h2 class="my-4">All Reptiles</h2>
  <div class="row">
    {% for reptile in reptiles %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ reptile.species }}</h5>
            <p class="card-text">Color: {{ reptile.color }}</p>
            <p class="card-text">Size: {{ reptile.size }}</p>
            <a href="{% url 'reptile_detail' reptile.id %}" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
